@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
}

.page {
  background-color: hsl(210, 46%, 95%);
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  max-width: clamp(300px, 80vw, 1200px);
  margin: 0 auto;
  padding-inline: 1rem;
}

.testimonials {
  padding: 100px 0;
}

.testimonials-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "card1"
    "card2"
    "card4"
    "card5"
    "card3";

  gap: 32px;
}

.testimonials__card-item {
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.testimonials__card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.testimonials__card-profile {
  display: flex;
  align-items: center;
}
.testimonials__card-profile-name {
  font-size: 13px;
}
.testimonials__card-profile-status {
  margin-block-start: 4px;
  font-size: 11px;
  display: block;
}

.testimonials__card-content {
  z-index: 2;
  position: relative;
}
.testimonials__card-title {
  margin-block: 16px;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 400;
}

.testimonials__card-paragraph {
  font-size: clamp(10px, 1.5vw, 16px);
}

.testimonials__card-profile-img {
  width: 28px;
  height: 28px;
  margin-inline-end: 16px;
  border-radius: 50%;
  border: 2px solid hsl(264, 82%, 80%);
}

.testimonials__card-item:nth-child(1) {
  grid-area: card1;
  background-color: hsl(263, 55%, 52%);
  color: white;
  position: relative;
}
.testimonials__card-item:nth-child(2) {
  grid-area: card2;
  background-color: hsl(217, 19%, 35%);
  color: white;
}

.testimonials__card-item:nth-child(3) {
  grid-area: card3;
  background-color: white;
  color: hsl(217, 19%, 35%);
}

.testimonials__card-item:nth-child(4) {
  grid-area: card4;
  background-color: white;
  color: hsl(217, 19%, 35%);
}

.testimonials__card-item:nth-child(5) {
  grid-area: card5;
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 81%);
}

.quotation-marks {
  position: absolute;
  top: 0;
  right: 60px;
  z-index: 1;
  width: clamp(50px, 8vw, 100px);
  height: clamp(50px, 8vw, 100px);
}

@media (min-width: 768px) {
  .testimonials-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "card1 card1"
      "card2 card4"
      "card5 card5"
      "card3 card3";
    gap: 32px;
  }
}

@media (min-width: 1200px) {
  .testimonials-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "card1 card1 card2 card3"
      "card4 card5 card5 card3";
    gap: 32px;
  }
}
